 <footer class="border-top footer text-muted">

    <style>
        footer {
            position: fixed; /* Sabit konum */
            bottom: 0; /* Sayfanın altına yerleşir */
            width: 100%; /* Tam genişlik kaplar */
            height: 50px; /* Sabit yükseklik */
            background-color: #f8f9fa;
            border-top: 1px solid #ddd;
            text-align: center;
            line-height: 50px;
        }
    </style>

        <div class="container">
            &copy; 2024 - NotUyg - <a asp-area="" asp-controller="User" asp-action="kayit">Privacy</a>
        </div>
    </footer>
