html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-select {
    height: auto; /* Yüksekliði içeriðe göre ayarla */
    min-height: 40px; /* Minimum yükseklik */
    overflow-y: auto; /* Gerektiðinde kaydýrma çubuðu göster */
    
}
textarea {
    width: 100%;
    height: auto;
    min-height: 100px;
    overflow-y: auto; /* Gerekirse kaydýr */
}

